button {
  text-transform: none;
  overflow: visible;
  margin: 0;
  font-family: inherit;
  line-height: inherit;
  border-radius: 0;
}

#logo img {
  width: 4.8rem;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

/* #header.header-scrolled {
  transition: all 0.5s;
  background-color: rgba(4, 9, 30, 0.9);
} */

header {
  display: block;
}

.header-top {
  background: #04091e;
  font-size: 1.2rem;
  padding: 0.8rem;
}

.header-top-left ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.header-top-right {
  display: flex;
  gap: 1.5rem;
}

.header-top-left a:link,
.header-top-left a:visited {
  color: #fff;
}

.header-top-right a:link,
.header-top-right a:visited {
  color: #fff;
  text-decoration: none;
}

.main-menu {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #39353e;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.d-flex {
  display: flex !important;
}

nav ul {
  display: flex;
  gap: 1.2rem;
  list-style: none;
}

nav ul li a:link,
nav ul li a:visited {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding-left: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav ul li a:hover,
nav ul li a:active {
  color: #f7631b;
}

.banner-area {
  background: url("../img/hero.webp") right;
  background-size: cover;
  height: 100vh;
}

.relative {
  position: relative;
}

.banner-area .overlay-bg {
  background-color: rgba(4, 9, 30, 0.8);
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.banner-content {
  text-align: left;
  z-index: 997;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-80%, -50%);
}

.banner-content h1 {
  line-height: 1.2;
  font-size: 3.2rem;
  font-weight: 700;
  margin-top: 1rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.banner-content p {
  margin-top: 1.2rem;
}

.banner-content .primary-btn {
  background-color: #f7631b;
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
  margin-top: 3.2rem;
  text-decoration: none;
}

.banner-content .primary-btn:hover {
  background-color: #fff;
  color: #f7631b;
}

/* .banner-content a:link,
.banner-content a:visited {
  text-align: center;
  width: 20%;
  margin-top: 3.2rem;
  display: inline-block;
  padding: 0.8rem;
  background-color: #f7631b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
} */

/* FEATURE SECTION */
.feature-area {
  /* margin-top: 6.2rem; */
  position: relative;
}

.single-feature {
  text-align: center;
  padding-right: 2rem;
  cursor: pointer;
}

.single-feature .title {
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 0;
  transition: all 0.3s ease 0s;
  transform: translateY(-100%);
}

.single-feature .title:hover {
  background-color: #f7631b;
  color: #fff;
}

.single-feature .title h4 {
  font-size: 1.8rem;
}

.single-feature .desc-wrap {
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 1rem 3rem 0 rgba(153, 153, 153, 0.1);
}

.single-feature .desc-wrap p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.single-feature .desc-wrap a:link,
.single-feature .desc-wrap a:visited {
  font-size: 1.4rem;
  font-weight: 600;
  transition: all 0.3s ease 0s;
  color: #222;
  background-color: transparent;
  text-decoration: none;
}

.single-feature .desc-wrap a:hover,
.single-feature .desc-wrap a:active {
  color: #f7631b;
  outline: 0;
}

/* POPULAR COURSE SECTION */

.justify-content-center {
  justify-content: center !important;
}

.d-flex {
  display: flex !important;
}

.menu-content {
  padding-bottom: 7rem;
}

.text-center {
  text-align: center;
}

.active-popular-carusel {
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  gap: 2rem;
  width: 100%;
}

.card {
  width: 100%;
  box-shadow: 0 1rem 3rem 0 rgba(153, 153, 153, 0.1);
  overflow: hidden;
}

.card-img img {
  max-width: 30rem;
  width: 100%;
  transition: all 0.4s;
}

.card-img img:hover {
  transform: scale(1.1);
}

.card-desc {
}

.card-desc h2 {
  padding-top: 1.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #222;
}

.card-desc p {
  margin-top: 1.8rem;
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 400;
}

/* SERCH-COURSE-AREA */
.search-course-area {
  background: url("../img/s-bg.jpg.webp") center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.search-course-area .overlay-bg {
  background: rgba(4, 9, 30, 0.8);
}

.search-course-area .search-course-left {
  width: 50%;
  z-index: 997;
}

.search-course-area .search-course-left h1 {
  padding-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3.6rem;
  font-family: "Poppins", sans-serif;
  line-height: 1 !important;
  margin-top: 0;
  font-weight: 600;
}

.text-white {
  color: #fff !important;
}

.search-course-area .search-course-left p {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.search-course-area .details-content {
  margin-top: 5rem;
  display: flex;
  gap: 50;
}

.details-content .single-details {
  padding: 0 1.8rem;
}

.search-course-area .details-content .single-details span {
  color: #f7631b;
  font-size: 3rem;
}

.search-course-area .details-content .single-details a {
  text-decoration: none;
}

.search-course-area .details-content .single-details h4 {
  margin: 2rem 0;
  color: #fff;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.2 !important;
  font-weight: 600;
}

.search-course-area .search-course-right {
  background: rgba(255, 255, 255, 0.1);
  z-index: 997;
}

.search-course-area .search-course-right .form-wrap {
  padding: 0 4rem;
}

.pb-20 {
  padding-bottom: 2rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.text-center {
  text-align: center !important;
}

.search-course-area .search-course-right .form-wrap .form-control {
  margin-bottom: 5px;
  border-radius: 0;
  padding: 0.675rem 0.75rem;
  font-size: 1.3rem;
  font-weight: 300;
}

.form-control {
  display: block;
  width: 100%;
  line-height: 1.5;
  color: #495057;
  background-color: #fdf2e9;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.3rem;
  font-family: inherit;
  color: #495057;
  border: none;
  background-color: #fdf2e9;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.search-course-area .search-course-right .form-wrap .primary-btn {
  width: 100%;
  margin-top: 5px;
}

.primary-btn {
  background: #f7631b;
  line-height: 4.2rem;
  padding: 0 3rem;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}

.text-uppercase {
  text-transform: uppercase !important;
}

/* UPCOMING EVENTS  */
.event-row {
  display: flex;
  gap: 1.6rem;
}
.row-card {
  /* width: 100%;
  display: flex; */
  box-shadow: 0 1rem 3rem 0 rgba(153, 153, 153, 0.1);
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 1rem;
}

.row-img img {
  max-width: 30rem;
  width: 100%;
  transition: all 0.4s;
}

.row-img img:hover {
  transform: scale(1.1);
}

.row-card .row-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}

/* .row-card .row-text:not(:last-child()) {
    gap: 0.8rem;
} */

.row-card .row-text h4 {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
}

.row-card .row-text h2 {
  color: #222;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.2;
}

.row-card .row-text p {
  line-height: 1.3 !important;
  font-weight: 400;
}

/* REVIEW AREA */
.review-area {
  background: #f9f9ff;
}

.review-box {
  display: flex;
  gap: 3rem;
}

.review-card {
  width: 55.5rem;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1.8rem;
}

.review-header h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #222;
}

.review-card p {
  font-weight: 300;
  font-size: 1.4rem;
}

.review-header .star .yellow-star {
  color: goldenrod;
}

.review-header .star .grey-star {
  color: grey;
}

/* CTA SECTION */
.cta-one-area {
  background: url("../img/cta-bg.jpg.webp");
  background-size: cover;
  text-align: center;
  color: #fff;
}

.cta-one-area .overlay-bg {
  background: rgba(4, 9, 30, 0.2);
}

.cta-one-area h1 {
  font-family: "poppins", sans-serif;
  line-height: 1.2 !important;
  margin-top: 0;
  font-weight: 600;
  font-size: 3.6rem;
}

.cta-one-area p {
  max-width: 67rem;
  margin: 2rem 0;
  position: relative;
}

.primary-btn.wh {
  background: #fff;
  color: #222;
  text-transform: uppercase;
}

.wrap a:link,
.wrap a:visited {
  background: #fff;
  color: #222;
  text-decoration: none;
  outline: 0;
}

.wrap a:hover,
.wrap a:active {
  background: #222;
  color: #fff;
}

/* *********************** */
/* FOOTER SECTION  */
/* *********************** */
.footer-area {
  background-color: #04091e;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 9.6rem 0;
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
}

.footer-row {
  display: flex;
  gap: 6.4rem;
}

.single-footer h4 {
  font-family: "poppins", sans-serif;
  font-size: 1.8rem;
  line-height: 1.2 !important;
  margin-bottom: 2.5rem;
  font-weight: 500;
  color: #fff;
}

.single-footer ul {
  list-style: none;
}

.single-footer ul li a:link,
.single-footer ul li a:visited {
  color: #777;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  font-weight: 300;
  font-size: 1.2rem;
}

.single-footer ul li a:hover,
.single-footer ul li a:active {
  color: #f7631b;
}

.single-footer ul li:not(:last-child) {
  margin-bottom: 2rem;
}

.newsletter h4 {
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  font-weight: 500;
}

.newsletter p {
  padding-bottom: 1rem;
  color: #777;
}

.newsletter form {
  width: 100%;
}

.form-input {
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: #7b838a;
  border: none;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.form-input::placeholder {
  color: #aaa;
}

.newsletter form button {
  padding: 0.8rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #fff;
  border: none;
  background-color: #f7631b;
  margin-left: 0;
  transition: all 0.2s ease;
  cursor: pointer;
}

.newsletter form button:hover {
  background-color: #f0641eac;
  color: #fff;
}

.footer-bottom {
  padding-top: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom .footer-text {
  color: #f1eee9;
}

.footer-bottom .footer-text span {
  color: #f7631b;
  cursor: pointer;
}

.footer-social {
  display: flex;
  gap: 3.2rem;
  color: #f1eee9;
}

.social-icon {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.social-icon:hover {
  color: #f7631b;
  transform: scaleY(1.1);
}
